practicas/servicio-opendata-entrypoint/src/main/resources/META-INF/wsdl/OpendataServiceBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OpendataServiceBean" targetNamespace="http://practicas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://practicas/">
  <wsdl:types>
<xs:schema xmlns:tns="http://practicas/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://practicas/" version="1.0">

  <xs:element name="buscarProcedimientos" type="tns:buscarProcedimientos"/>

  <xs:element name="buscarProcedimientosResponse" type="tns:buscarProcedimientosResponse"/>

  <xs:element name="crearProcedimiento" type="tns:crearProcedimiento"/>

  <xs:element name="crearProcedimientoResponse" type="tns:crearProcedimientoResponse"/>

  <xs:element name="eliminarProcedimiento" type="tns:eliminarProcedimiento"/>

  <xs:element name="eliminarProcedimientoResponse" type="tns:eliminarProcedimientoResponse"/>

  <xs:element name="getVersion" type="tns:getVersion"/>

  <xs:element name="getVersionResponse" type="tns:getVersionResponse"/>

  <xs:element name="modificarProcedimiento" type="tns:modificarProcedimiento"/>

  <xs:element name="modificarProcedimientoResponse" type="tns:modificarProcedimientoResponse"/>

  <xs:complexType name="eliminarProcedimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarProcedimientoResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modificarProcedimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modificarProcedimientoResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getVersion">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buscarProcedimientos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buscarProcedimientosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Procedimientos" type="tns:procedimientoWsItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="procedimientoWsItem">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="crearProcedimiento">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="crearProcedimientoResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="ns1:getVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarProcedimientosResponse">
    <wsdl:part name="parameters" element="ns1:buscarProcedimientosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modificarProcedimientoResponse">
    <wsdl:part name="parameters" element="ns1:modificarProcedimientoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarProcedimientoResponse">
    <wsdl:part name="parameters" element="ns1:eliminarProcedimientoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearProcedimiento">
    <wsdl:part name="parameters" element="ns1:crearProcedimiento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarProcedimiento">
    <wsdl:part name="parameters" element="ns1:eliminarProcedimiento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modificarProcedimiento">
    <wsdl:part name="parameters" element="ns1:modificarProcedimiento">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="ns1:getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearProcedimientoResponse">
    <wsdl:part name="parameters" element="ns1:crearProcedimientoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarProcedimientos">
    <wsdl:part name="parameters" element="ns1:buscarProcedimientos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OpendataServiceBean">
    <wsdl:operation name="eliminarProcedimiento">
      <wsdl:input name="eliminarProcedimiento" message="ns1:eliminarProcedimiento">
    </wsdl:input>
      <wsdl:output name="eliminarProcedimientoResponse" message="ns1:eliminarProcedimientoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarProcedimiento">
      <wsdl:input name="modificarProcedimiento" message="ns1:modificarProcedimiento">
    </wsdl:input>
      <wsdl:output name="modificarProcedimientoResponse" message="ns1:modificarProcedimientoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="ns1:getVersion">
    </wsdl:input>
      <wsdl:output name="getVersionResponse" message="ns1:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarProcedimientos">
      <wsdl:input name="buscarProcedimientos" message="ns1:buscarProcedimientos">
    </wsdl:input>
      <wsdl:output name="buscarProcedimientosResponse" message="ns1:buscarProcedimientosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearProcedimiento">
      <wsdl:input name="crearProcedimiento" message="ns1:crearProcedimiento">
    </wsdl:input>
      <wsdl:output name="crearProcedimientoResponse" message="ns1:crearProcedimientoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
